# Session 10

In [1]:
import pandas as pd

In [2]:
path = 'movies.csv'  # csv  comma seperated values
df = pd.read_csv(path)

In [4]:
df

                      title     rating  year  runtime
0             Almost Famous          R  2000    122.0
1              American Pie          R  1999     95.0
2        Back to the Future         PG  1985    116.0
3              Blade Runner          R  1982    117.0
4         Blood for Dracula          R  1974    106.0
5               Blue Velvet          R  1986    120.0
6        The Breakfast Club          R  1985     97.0
7                  Clueless      PG-13  1995      NaN
8            Cool Hand Luke         GP  1967    127.0
9                 The Craft          R  1996    101.0
10           Doctor Zhivago      PG-13  1965    197.0
11                  el Topo  Not Rated  1970    125.0
12                Evil Dead      NC-17  1981     85.0
13             Ghostbusters         PG  1984    105.0
14                   Grease      PG-13  1978    110.0
15                 Heathers          R  1988    103.0
16                Labyrinth         PG  1986    101.0
17            The Lost Boys          R  1987     97.0
18               Mean Girls      PG-13  2004     97.0
19       Millennium Actress         PG  2001     87.0
20       My Neighbor Totoro          G  1988     86.0
21        Napoleon Dynamite         PG  2004     96.0
22  Pee-wee's Big Adventure         PG  1985     91.0
23           Pretty in Pink      PG-13  1986     97.0
24       The Princess Bride         PG  1987     98.0
25                   Psycho          R  1960      NaN
26              Stand by Me          R  1986     89.0
27                  Super 8      PG-13  2011    112.0
28                 superbad          R  2007    113.0
29                 WarGames         PG  1983    114.0

Bonus

- get movies  that runtime <90 or rating = R

- calcualte the max of movies period that published after 1995 and rating R

Bonus Solution

In [9]:
df[(df['runtime'] > 115 ) | (df['rating'] == 'R')]

                 title     rating  year  runtime
0        Almost Famous          R  2000    122.0
1         American Pie          R  1999     95.0
2   Back to the Future         PG  1985    116.0
3         Blade Runner          R  1982    117.0
4    Blood for Dracula          R  1974    106.0
5          Blue Velvet          R  1986    120.0
6   The Breakfast Club          R  1985     97.0
8       Cool Hand Luke         GP  1967    127.0
9            The Craft          R  1996    101.0
10      Doctor Zhivago      PG-13  1965    197.0
11             el Topo  Not Rated  1970    125.0
15            Heathers          R  1988    103.0
17       The Lost Boys          R  1987     97.0
25              Psycho          R  1960      NaN
26         Stand by Me          R  1986     89.0
28            superbad          R  2007    113.0

In [12]:
df[ (df['year']> 1995 ) & (df['rating'] == 'R') ]['runtime'].max()

122.0

task

rating  > pg and year after 2004

In [14]:
df[ (df['year']> 2004 ) & (df['rating'] == 'PG') ]

Empty DataFrame
Columns: [title, rating, year, runtime]
Index: []

In [16]:
df.corr()	# numeric_only=True Returns the correlation between columns in a DataFrame

             year   runtime
year     1.000000 -0.450278
runtime -0.450278  1.000000

## Task 

1- Read DAta

2- write insights about data info

3- print correlation

4- Apply one filter (using 2 conditions)

### 4- Data Cleaning

In [17]:
df.sample(5)

                 title rating  year  runtime
3         Blade Runner      R  1982    117.0
19  Millennium Actress     PG  2001     87.0
26         Stand by Me      R  1986     89.0
18          Mean Girls  PG-13  2004     97.0
2   Back to the Future     PG  1985    116.0

In [18]:
df.columns

Index(['title', 'rating', 'year', 'runtime'], dtype='object')

In [19]:
df.columns = ['Title','Rating','Year','Runtime']  #Rename columns
df.sample(2)

                Title Rating  Year  Runtime
21  Napoleon Dynamite     PG  2004     96.0
28           superbad      R  2007    113.0

In [20]:
df.rename(columns={'Year':'YearProd'},
          inplace=True)

In [21]:
df.sample()

             Title Rating  YearProd  Runtime
10  Doctor Zhivago  PG-13      1965    197.0

task

write list comphrension to edit column names + '_'

In [22]:
df.columns

Index(['Title', 'Rating', 'YearProd', 'Runtime'], dtype='object')

In [23]:
df.columns = [  col + '_'   for col in df.columns ]
              # operation        for loop           condition

In [24]:
df.columns

Index(['Title_', 'Rating_', 'YearProd_', 'Runtime_'], dtype='object')

In [29]:
df.columns = [  col.upper()    for col in df.columns ]
              # operation        for loop           condition

In [30]:
df.columns

Index(['TITLE_', 'RATING_', 'YEARPROD_', 'RUNTIME_'], dtype='object')

In [ ]:
# 'Run time'.replace(' ','_')

In [31]:
df.columns

Index(['TITLE_', 'RATING_', 'YEARPROD_', 'RUNTIME_'], dtype='object')

In [32]:
df.sample()

     TITLE_    RATING_  YEARPROD_  RUNTIME_
11  el Topo  Not Rated       1970     125.0

In [ ]:
# df.columns = [  col.upper()  for col in df.columns ]
# df.sample()

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TITLE_     30 non-null     object
 1   RATING_    30 non-null     object
 2   YEARPROD_  30 non-null     int64
 3   RUNTIME_   28 non-null     float64
dtypes: float64(1), int64(1), object(2)
memory usage: 1.1+ KB

In [34]:
df['TITLE_'] = df['TITLE_'].astype('string') # str	#Convert the datatype of the series to float

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TITLE_     30 non-null     string
 1   RATING_    30 non-null     object
 2   YEARPROD_  30 non-null     int64
 3   RUNTIME_   28 non-null     float64
dtypes: float64(1), int64(1), object(1), string(1)
memory usage: 1.1+ KB

In [36]:
df['RATING_'] = df['RATING_'].astype('category') # str	#Convert the datatype of the series to float
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TITLE_     30 non-null     string
 1   RATING_    30 non-null     category
 2   YEARPROD_  30 non-null     int64
 3   RUNTIME_   28 non-null     float64
dtypes: category(1), float64(1), int64(1), string(1)
memory usage: 1.2 KB

In [37]:
df.nunique()

TITLE_       30
RATING_       7
YEARPROD_    22
RUNTIME_     24
dtype: int64

#### Task



1- Read ecommerce-supermarket data


2- convert any column name to lower case and without any space

3- change any object column to (category or string)

4- what is the average sales of category Furniture

5- what is total sales of region south

In [ ]:
eccom = 'D:\Work\Cources\AI Academy\G4 Summer offline\Session 6/ecommerce_sales.csv'
ecom = pd.read_csv(eccom)

In [ ]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company_ID        10000 non-null  int64
 1   Purchase_Date     10000 non-null  object
 2   Product_Category  10000 non-null  object
 3   Quantity          10000 non-null  int64
 4   Total_Sales       10000 non-null  float64
 5   Gender            10000 non-null  object
 6   Marital_Status    10000 non-null  object
 7   Price_Per_Unit    10000 non-null  float64
 8   Customer_Type     10000 non-null  object
 9   Age               10000 non-null  int64
dtypes: float64(2), int64(3), object(5)
memory usage: 781.4+ KB

In [ ]:
ecom.columns = [ col.lower().replace(' ','_')   for col in ecom.columns]
ecom.sample()

,company_id,purchase_date,product_category,quantity,total_sales,gender,marital_status,price_per_unit,customer_type,age
7439,4,2020-01-05,Beauty,8,362.350851,Male,Widowed,28.223462,New Customer,30

In [ ]:
ecom[ecom['customer_type'] == 'New Customer' ]['age'].mean()

48.31803734604688

In [ ]:
ecom[ecom['gender'] == 'Female' ]['total_sales'].sum()

1282081.6326928153

In [ ]:
import pandas as pd

In [ ]:
path = 'D:\Work\Cources\AI Academy\G4 Summer offline\Session 6/movies.csv'  # Full path csv  comma seperated values
df = pd.read_csv(path)

In [38]:
df.nunique() # number of uniques

TITLE_       30
RATING_       7
YEARPROD_    22
RUNTIME_     24
dtype: int64

In [40]:
df['YEARPROD_'] = df['YEARPROD_'].astype(float)	#Convert the datatype of the series to float

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TITLE_     30 non-null     string
 1   RATING_    30 non-null     category
 2   YEARPROD_  30 non-null     float64
 3   RUNTIME_   28 non-null     float64
dtypes: category(1), float64(2), string(1)
memory usage: 1.2 KB

In [43]:
df

                     TITLE_    RATING_  YEARPROD_  RUNTIME_
0             Almost Famous          R     2000.0     122.0
1              American Pie          R     1999.0      95.0
2        Back to the Future         PG     1985.0     116.0
3              Blade Runner          R     1982.0     117.0
4         Blood for Dracula          R     1974.0     106.0
5               Blue Velvet          R     1986.0     120.0
6        The Breakfast Club          R     1985.0      97.0
7                  Clueless      PG-13     1995.0       NaN
8            Cool Hand Luke         GP     1967.0     127.0
9                 The Craft          R     1996.0     101.0
10           Doctor Zhivago      PG-13     1965.0     197.0
11                  el Topo  Not Rated     1970.0     125.0
12                Evil Dead      NC-17     1981.0      85.0
13             Ghostbusters         PG     1984.0     105.0
14                   Grease      PG-13     1978.0     110.0
15                 Heathers          R     1988.0     103.0
16                Labyrinth         PG     1986.0     101.0
17            The Lost Boys          R     1987.0      97.0
18               Mean Girls      PG-13     2004.0      97.0
19       Millennium Actress         PG     2001.0      87.0
20       My Neighbor Totoro          G     1988.0      86.0
21        Napoleon Dynamite         PG     2004.0      96.0
22  Pee-wee's Big Adventure         PG     1985.0      91.0
23           Pretty in Pink      PG-13     1986.0      97.0
24       The Princess Bride         PG     1987.0      98.0
25                   Psycho          R     1960.0       NaN
26              Stand by Me          R     1986.0      89.0
27                  Super 8      PG-13     2011.0     112.0
28                 superbad          R     2007.0     113.0
29                 WarGames         PG     1983.0     114.0

try to replace 8   to  eight

In [47]:
df['TITLE_'].replace('8','Eight',inplace=False)	#Replace all values equal to 8 with 'Eight'

0               Almost Famous
1                American Pie
2          Back to the Future
3                Blade Runner
4           Blood for Dracula
5                 Blue Velvet
6          The Breakfast Club
7                    Clueless
8              Cool Hand Luke
9                   The Craft
10             Doctor Zhivago
11                    el Topo
12                  Evil Dead
13               Ghostbusters
14                     Grease
15                   Heathers
16                  Labyrinth
17              The Lost Boys
18                 Mean Girls
19         Millennium Actress
20         My Neighbor Totoro
21          Napoleon Dynamite
22    Pee-wee's Big Adventure
23             Pretty in Pink
24         The Princess Bride
25                     Psycho
26                Stand by Me
27                    Super 8
28                   superbad
29                   WarGames
Name: TITLE_, dtype: string

In [49]:
df['TITLE_'].replace('8','Eight',
                    regex=True,      # regular exp.
                    inplace=False)	#Replace all values equal to 8 with 'Eight'

0               Almost Famous
1                American Pie
2          Back to the Future
3                Blade Runner
4           Blood for Dracula
5                 Blue Velvet
6          The Breakfast Club
7                    Clueless
8              Cool Hand Luke
9                   The Craft
10             Doctor Zhivago
11                    el Topo
12                  Evil Dead
13               Ghostbusters
14                     Grease
15                   Heathers
16                  Labyrinth
17              The Lost Boys
18                 Mean Girls
19         Millennium Actress
20         My Neighbor Totoro
21          Napoleon Dynamite
22    Pee-wee's Big Adventure
23             Pretty in Pink
24         The Princess Bride
25                     Psycho
26                Stand by Me
27                Super Eight
28                   superbad
29                   WarGames
Name: TITLE_, dtype: string

In [52]:
df['YEARPROD_'].replace(1999,1959,inplace=False)	#Replace all values equal to 1960 with 1959

0     2000.0
1     1959.0
2     1985.0
3     1982.0
4     1974.0
5     1986.0
6     1985.0
7     1995.0
8     1967.0
9     1996.0
10    1965.0
11    1970.0
12    1981.0
13    1984.0
14    1978.0
15    1988.0
16    1986.0
17    1987.0
18    2004.0
19    2001.0
20    1988.0
21    2004.0
22    1985.0
23    1986.0
24    1987.0
25    1960.0
26    1986.0
27    2011.0
28    2007.0
29    1983.0
Name: YEARPROD_, dtype: float64

In [54]:
import numpy as np

In [55]:
df.isnull().sum()

TITLE_       0
RATING_      0
YEARPROD_    0
RUNTIME_     2
dtype: int64

In [56]:
df['RUNTIME_'].replace(np.nan,0,inplace=False)	#Replace all values equal to 8 with 'Eight'

0     122.0
1      95.0
2     116.0
3     117.0
4     106.0
5     120.0
6      97.0
7       0.0
8     127.0
9     101.0
10    197.0
11    125.0
12     85.0
13    105.0
14    110.0
15    103.0
16    101.0
17     97.0
18     97.0
19     87.0
20     86.0
21     96.0
22     91.0
23     97.0
24     98.0
25      0.0
26     89.0
27    112.0
28    113.0
29    114.0
Name: RUNTIME_, dtype: float64

In [ ]:
df.set_index('year',inplace=False)	#Change the index

                        title     rating  runtime
year
2000            Almost Famous          R    122.0
1999             American Pie          R     95.0
1985       Back to the Future         PG    116.0
1982             Blade Runner          R    117.0
1974        Blood for Dracula          R    106.0
1986              Blue Velvet          R    120.0
1985       The Breakfast Club          R     97.0
1995                 Clueless      PG-13      NaN
1967           Cool Hand Luke         GP    127.0
1996                The Craft          R    101.0
1965           Doctor Zhivago      PG-13    197.0
1970                  el Topo  Not Rated    125.0
1981                Evil Dead      NC-17     85.0
1984             Ghostbusters         PG    105.0
1978                   Grease      PG-13    110.0
1988                 Heathers          R    103.0
1986                Labyrinth         PG    101.0
1987            The Lost Boys          R     97.0
2004               Mean Girls      PG-13     97.0
2001       Millennium Actress         PG     87.0
1988       My Neighbor Totoro          G     86.0
2004        Napoleon Dynamite         PG     96.0
1985  Pee-wee's Big Adventure         PG     91.0
1986           Pretty in Pink      PG-13     97.0
1987       The Princess Bride         PG     98.0
1960                   Psycho          R      NaN
1986              Stand by Me          R     89.0
2011                  Super 8      PG-13    112.0
2007                 superbad          R    113.0
1983                 WarGames         PG    114.0

In [57]:
df

                     TITLE_    RATING_  YEARPROD_  RUNTIME_
0             Almost Famous          R     2000.0     122.0
1              American Pie          R     1999.0      95.0
2        Back to the Future         PG     1985.0     116.0
3              Blade Runner          R     1982.0     117.0
4         Blood for Dracula          R     1974.0     106.0
5               Blue Velvet          R     1986.0     120.0
6        The Breakfast Club          R     1985.0      97.0
7                  Clueless      PG-13     1995.0       NaN
8            Cool Hand Luke         GP     1967.0     127.0
9                 The Craft          R     1996.0     101.0
10           Doctor Zhivago      PG-13     1965.0     197.0
11                  el Topo  Not Rated     1970.0     125.0
12                Evil Dead      NC-17     1981.0      85.0
13             Ghostbusters         PG     1984.0     105.0
14                   Grease      PG-13     1978.0     110.0
15                 Heathers          R     1988.0     103.0
16                Labyrinth         PG     1986.0     101.0
17            The Lost Boys          R     1987.0      97.0
18               Mean Girls      PG-13     2004.0      97.0
19       Millennium Actress         PG     2001.0      87.0
20       My Neighbor Totoro          G     1988.0      86.0
21        Napoleon Dynamite         PG     2004.0      96.0
22  Pee-wee's Big Adventure         PG     1985.0      91.0
23           Pretty in Pink      PG-13     1986.0      97.0
24       The Princess Bride         PG     1987.0      98.0
25                   Psycho          R     1960.0       NaN
26              Stand by Me          R     1986.0      89.0
27                  Super 8      PG-13     2011.0     112.0
28                 superbad          R     2007.0     113.0
29                 WarGames         PG     1983.0     114.0

In [59]:
df.set_index('YEARPROD_',inplace=True)	#Change the index

task

1- get any rows data by calling the index year 1986

In [60]:
df

                            TITLE_    RATING_  RUNTIME_
YEARPROD_
2000.0               Almost Famous          R     122.0
1999.0                American Pie          R      95.0
1985.0          Back to the Future         PG     116.0
1982.0                Blade Runner          R     117.0
1974.0           Blood for Dracula          R     106.0
1986.0                 Blue Velvet          R     120.0
1985.0          The Breakfast Club          R      97.0
1995.0                    Clueless      PG-13       NaN
1967.0              Cool Hand Luke         GP     127.0
1996.0                   The Craft          R     101.0
1965.0              Doctor Zhivago      PG-13     197.0
1970.0                     el Topo  Not Rated     125.0
1981.0                   Evil Dead      NC-17      85.0
1984.0                Ghostbusters         PG     105.0
1978.0                      Grease      PG-13     110.0
1988.0                    Heathers          R     103.0
1986.0                   Labyrinth         PG     101.0
1987.0               The Lost Boys          R      97.0
2004.0                  Mean Girls      PG-13      97.0
2001.0          Millennium Actress         PG      87.0
1988.0          My Neighbor Totoro          G      86.0
2004.0           Napoleon Dynamite         PG      96.0
1985.0     Pee-wee's Big Adventure         PG      91.0
1986.0              Pretty in Pink      PG-13      97.0
1987.0          The Princess Bride         PG      98.0
1960.0                      Psycho          R       NaN
1986.0                 Stand by Me          R      89.0
2011.0                     Super 8      PG-13     112.0
2007.0                    superbad          R     113.0
1983.0                    WarGames         PG     114.0

In [61]:
df.loc[1986]

                   TITLE_ RATING_  RUNTIME_
YEARPROD_
1986.0        Blue Velvet       R     120.0
1986.0          Labyrinth      PG     101.0
1986.0     Pretty in Pink   PG-13      97.0
1986.0        Stand by Me       R      89.0

In [62]:
df[df.index == 1986]

                   TITLE_ RATING_  RUNTIME_
YEARPROD_
1986.0        Blue Velvet       R     120.0
1986.0          Labyrinth      PG     101.0
1986.0     Pretty in Pink   PG-13      97.0
1986.0        Stand by Me       R      89.0

In [63]:
df.reset_index(inplace=True)

In [64]:
df

    YEARPROD_                   TITLE_    RATING_  RUNTIME_
0      2000.0            Almost Famous          R     122.0
1      1999.0             American Pie          R      95.0
2      1985.0       Back to the Future         PG     116.0
3      1982.0             Blade Runner          R     117.0
4      1974.0        Blood for Dracula          R     106.0
5      1986.0              Blue Velvet          R     120.0
6      1985.0       The Breakfast Club          R      97.0
7      1995.0                 Clueless      PG-13       NaN
8      1967.0           Cool Hand Luke         GP     127.0
9      1996.0                The Craft          R     101.0
10     1965.0           Doctor Zhivago      PG-13     197.0
11     1970.0                  el Topo  Not Rated     125.0
12     1981.0                Evil Dead      NC-17      85.0
13     1984.0             Ghostbusters         PG     105.0
14     1978.0                   Grease      PG-13     110.0
15     1988.0                 Heathers          R     103.0
16     1986.0                Labyrinth         PG     101.0
17     1987.0            The Lost Boys          R      97.0
18     2004.0               Mean Girls      PG-13      97.0
19     2001.0       Millennium Actress         PG      87.0
20     1988.0       My Neighbor Totoro          G      86.0
21     2004.0        Napoleon Dynamite         PG      96.0
22     1985.0  Pee-wee's Big Adventure         PG      91.0
23     1986.0           Pretty in Pink      PG-13      97.0
24     1987.0       The Princess Bride         PG      98.0
25     1960.0                   Psycho          R       NaN
26     1986.0              Stand by Me          R      89.0
27     2011.0                  Super 8      PG-13     112.0
28     2007.0                 superbad          R     113.0
29     1983.0                 WarGames         PG     114.0

Task



1- call movies with year more than 2000

In [66]:
df.set_index('YEARPROD_',inplace=True)

In [67]:
df.loc[2000:] # Wrong ******

                            TITLE_    RATING_  RUNTIME_
YEARPROD_
2000.0               Almost Famous          R     122.0
1999.0                American Pie          R      95.0
1985.0          Back to the Future         PG     116.0
1982.0                Blade Runner          R     117.0
1974.0           Blood for Dracula          R     106.0
1986.0                 Blue Velvet          R     120.0
1985.0          The Breakfast Club          R      97.0
1995.0                    Clueless      PG-13       NaN
1967.0              Cool Hand Luke         GP     127.0
1996.0                   The Craft          R     101.0
1965.0              Doctor Zhivago      PG-13     197.0
1970.0                     el Topo  Not Rated     125.0
1981.0                   Evil Dead      NC-17      85.0
1984.0                Ghostbusters         PG     105.0
1978.0                      Grease      PG-13     110.0
1988.0                    Heathers          R     103.0
1986.0                   Labyrinth         PG     101.0
1987.0               The Lost Boys          R      97.0
2004.0                  Mean Girls      PG-13      97.0
2001.0          Millennium Actress         PG      87.0
1988.0          My Neighbor Totoro          G      86.0
2004.0           Napoleon Dynamite         PG      96.0
1985.0     Pee-wee's Big Adventure         PG      91.0
1986.0              Pretty in Pink      PG-13      97.0
1987.0          The Princess Bride         PG      98.0
1960.0                      Psycho          R       NaN
1986.0                 Stand by Me          R      89.0
2011.0                     Super 8      PG-13     112.0
2007.0                    superbad          R     113.0
1983.0                    WarGames         PG     114.0

In [68]:
df[df.index > 2000]

                       TITLE_ RATING_  RUNTIME_
YEARPROD_
2004.0             Mean Girls   PG-13      97.0
2001.0     Millennium Actress      PG      87.0
2004.0      Napoleon Dynamite      PG      96.0
2011.0                Super 8   PG-13     112.0
2007.0               superbad       R     113.0

In [69]:
pd.set_option("display.max_rows", 50)

In [70]:
ecom.head(75)

NameError: name 'ecom' is not defined

In [72]:
path = 'movies.csv'
data = pd.read_csv(path)
df = data.copy(deep=True)
data.head()

                title rating  year  runtime
0       Almost Famous      R  2000    122.0
1        American Pie      R  1999     95.0
2  Back to the Future     PG  1985    116.0
3        Blade Runner      R  1982    117.0
4   Blood for Dracula      R  1974    106.0

In [73]:
df = data.copy(deep=True)